.head-inner {
    height: 60px;
    margin: 0 auto;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
.head{
    width: 100%;
    height: 61px;
    background-color: #3867e8;

    border-bottom:1px solid #ededed
}
.logo {
    height: 60px;
    line-height: 60px;
    float: left;
    font-size: 25px;
    color: #fff;

}
.courseName {

    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    color: #fff;
}
#user_actions {
    float: right;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    margin-right: 10%;
    cursor: pointer;

}
#user_info {

    cursor: pointer;
}
body {
    background-color: #e6e6e6;
    font-size: 14px;
    line-height: 1.428571429;
}
.backStyle{
    margin-left: 20%;
    margin-top: 10px;
    cursor: pointer;
}
.tabCommon{
    width: 33.3%;
    float: left;
    text-align: center;
    border: solid;
    border-width: 1px;
    cursor: pointer;
}
.dashed{
    border-style: dashed;
    border-width: 1px;
    margin-top: 50px;
}
.workItem{

    margin-left: 5%;
    margin-right: 5%;

}
.isnLast{
    border-bottom: 1px solid darkgray;

}
.isLast{

}
.homeworkMarginLeft{
    margin-left: 5px;
    color: darkgray;
}
.dateTime{
    font-size: 12px;
}
.homeworkMarginTop{
    margin-top: 30px;
}
.exerciseContinueBtn{
    float: left;
    margin-left: -15px
}
.exerciseRandomBtn{
    float:left;
    margin-left: 5px;
    margin-right: 5px
}
.exerciseSelfSelBtn{
    float: left;
}
.testTitle {
    color: #545454;
    margin-left: 5px
}
.tabBtn{
    width: 33%;
    text-align: center;
}
.itemDiv{
    margin-left: 50px;
    margin-right: 50px;
    background: white;
}
.tabStyle{
    margin: 30px 50px;
}