body {
    background-color: #e6e6e6;
    font-size: 14px;
    line-height: 1.428571429;
}
.head{
    background-color: #3867e8;
    text-align: center;
    color: white;
    height: 65px;
}
.qusPointer{
    cursor: pointer
}
.question-block {
    border-bottom: 1px solid #ccc;
    padding: 8px;
    position: relative;
    z-index: 0;
}

.question-block > a {
    position: absolute;
    top: -55px;
}

.question-face {
    font-size: 16px;
    margin-bottom: 10px;
}

.question-answer {
    padding: 12px;
}
img{
    max-width: 100%;
}
.answer-option {
    display: block;
    padding: 0px 5px;
    margin-left: -5px;

    cursor: pointer;
    border: 2px solid transparent;
}

.answer-option:hover {
    border: 2px solid #e7e7e7;
}

.preview .answer-option:hover {
    border: 2px solid transparent;
}
.muiltAnswer-option{
    display: block;

    margin-left: -4px;
    border: 2px solid transparent;
    cursor: pointer;
}
.muiltAnswer-option:hover {
    border: 2px solid #e7e7e7;
}
.answer-option input {
    margin-right: 5px;

}
.tabBtns{
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-right: -15px;
    padding-left: 10px;
    border-bottom-color: lightgray;
}
.scoreStyle{
    border-style: solid;
    border-width: 1px;
    width: 80px;
    float: right;
    height: 30px;
    margin-right: 15px;
    line-height: 30px;
    text-align: center;
    float: right

}
.rightDiv{
    text-align: center;
    background-color: #e6e6e6;
    margin-top: -10px;
    width: 195px;
    float: right;
    margin-right: -15px

}
.avaturlStyle{
    max-height: 80px;
    max-width: 80px;
    background-color: white
}
.fileStyle{
    background-color: #e6e6e6;
    height: 80px;
    line-height: 80px
}
.qusIconStyle{
    color: #1CAD1B;
}
.middleDiv{
    background-color: white;

    float: left;

}
.leftDiv{
    overflow-y:auto;
    height: 100%;
    width: 180px;
    float: left;
}
.mainDiv{
    margin-right: -15px;
    margin-top: 10px;
    overflow: auto;
    height: 100%;
    padding-left: 10px;
}
.total{
    position: absolute;
    display:block;
    left:0;
    top:0;
    z-index:10;
    background:#454242;

    opacity:.95;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=100);
}