<div ng-bind-html="content" class="question-face"></div>
<!--有没有附件-->
<p ng-if = 'files.length > 0 ? true:false' style="font-weight: bold"><font size="3px">【答题材料】</font> </p>

<div ng-repeat="file in files" class="fileStyle" >
        <i class="fa fa-file-o" style="margin-left: 5px"></i>
        <a href="{{file.url}}"><font size="3px">{{file.name}}</font></a>
        <font size="3px">{{file.size}}</font>

</div>
<div ng-repeat="option in options">
        <input type="checkbox" ng-model="option.isSel" style="float: left" ng-change="changed($index)" ng-click="answer($index)">
        <label  class="muiltAnswer-option" ng-click="answer($index)">
                <div ng-bind-html="option.optionContent"></div></label>

</div>
<p ng-if = "isSave"><i class="{{saveDes.icon}}"></i>{{saveDes.des}}</p>
