<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link href="../css/CourseAndTest.css" rel="stylesheet" type="text/css">
    <link href="../libs/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <script src="../libs/js/jquery.min.js"></script>
    <!-- compiled css output -->
    <script src="../libs/angular-1.5.3/angular.js"></script>
    <script src="../libs/angular-1.5.3/angular-animate.min.js"></script>
    <script src="../libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="../libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../libs/sweetalert/dist/sweetalert.min.js"></script>

    <script src="../libs/js/bootstrap.min.js"></script>
    <!--base64加密-->

    <script src="../scripts/Controller/CourseAndTestListCtrl.js"></script>
    <script src="../scripts/Service/CourseAndTestListService.js"></script>
</head>
<body ng-app="CourseAndTestListModel" ng-controller="CourseAndTestListCtrl" style="background: #e6e6e6">
<!--导航条-->
<div class="head">

    <div class="logo">
        <i class="fa fa-graduation-cap">
        </i>
        &nbsp;iStudy通用实践平台
    </div>
    <div id="user_actions">
        <span id="user_info">您好,{{name}}!</span>
        <font color="white" ng-click="exit()"><i class="fa fa-power-off"></i></font>
    </div>

</div>
<p class="title"  ng-if='tests.length > 0 ? true:false'>我的考试</p>

<div class="btnCenter">
    <font color="red" size="5px">
        <span ng-if="remainS > 0 || remainM > 0">离考试开始还有{{remainM}}分{{remainS}}秒</span>
    </font>
</div>
<div ng-repeat="test in tests" class="testItem">
    <div class="row">
        <div class="col-xs-12">
            <p class="testTitle">{{test.title}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
        <span class="testTime">开始时间：{{test.datestart}}
            &nbsp;&nbsp;<span class="testTime">截止时间：{{test.dateend}}</span>
        </span>
        </div>
        <div class="col-xs-3 btnCenter">
            <button class="btn btn-info" ng-if="test.isStart && !test.issubmited && !test.isforbid && !test.isEnd"
                    ng-click="goToTest($index)">开始答题
            </button>
            <p ng-if="test.isforbid && test.isStart && !test.isEnd">被禁考</p>
            <p ng-if="!test.isStart">未开始

            <p ng-if="test.issubmited && !test.isEnd && test.isStart">已交卷</p>
            <p ng-if="test.isEnd">已截止</p>
        </div>
    </div>
    <div class="row" style="padding-bottom: 20px">
        <div class="col-xs-10">
            <span class="testTime">考试时长：{{test.timelimit}}分钟</span>
           &nbsp;&nbsp; <span ng-if="test.issubmited || test.isEnd" class="testTime">成绩：{{test.myscore}}</span>
        </div>
    </div>
</div>
<p class="title"  ng-if='courses.length > 0 ? true:false'>我的课程</p>
<div class="btnCenter">
</div>
<div class="courseItem" ng-repeat="course in courses">
    <div class="row" style="padding-top: 15px;padding-bottom: 15px">
        <div class="col-xs-2 coursePicDiv">
            <img   src = "{{course.pic}}" ng-if="course.pic != ''" style="width: 100%;height: 100px">

            <div class="courseRGB" ng-style="course.style" ng-if="course.pic == ''">
                <div class="coursePit"><font color="white">{{course.pictit}}</font></div>
            </div>
        </div>
        <div class="col-xs-7">
            <h2 class="testTitle">{{course.title}}</h2>
            <div ng-bind-html=" course.memo" class="memoStyle"></div>
            <p></p>
            &nbsp;{{course.teacher}}
        </div>
        <div class="col-xs-3 goToStudy">
            <button class="btn btn-info" ng-click="goToStudy($index)">立即学习</button>
        </div>
    </div>
</div>
</body>
</html>