<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link href="../css/Main.css" type="text/css" rel="stylesheet">
    <link href="../libs/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../libs/angular-modal-service/modal.css" rel="stylesheet" type="text/css">
    <link href="../libs/angular-modal-service/demo-modal.css" rel="stylesheet" type="text/css">


    <script src="../libs/jquery/jquery.min.js"></script>
    <!-- compiled css output -->
    <script src="../libs/angular-1.5.3/angular.min.js"></script>
    <script src="../libs/angular-1.5.3/angular-animate.min.js"></script>
    <script src="../libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../libs/angular-ui-router/angular-ui-router.min.js"></script>
    <script src="../libs/sweetalert/dist/sweetalert.min.js"></script>

    <script src="../libs/bootstrap-3.3.5-dist/bootstrap.min.js"></script>
    <!--base64加密-->
    <script src="../libs/angular-utf8-base64/angular-utf8-base64.min.js"></script>
    <!--阅卷时候的模态框-->

    <script src="../libs/angular-modal-service/modal.min.js"></script>


    <script src="../scripts/Service/MainRoutes.js"></script>
    <script src="../scripts/Service/MainService.js"></script>
    <script src="../scripts/Controller/MainCtrl.js"></script>
    <script src="../scripts/Controller/QusType/SingleChoiceCtrl.js"></script>
    <script src="../scripts/Controller/QusType/CompletionCtrl.js"></script>
    <script src="../scripts/Controller/QusType/MulitChoiceCtrl.js"></script>
    <script src="../scripts/Controller/QusType/ComplexCtrl.js"></script>
    <script src="../scripts/Controller/QusType/DesignCtrl.js"></script>
    <script src="../scripts/Controller/QusType/ProgramDesCtrl.js"></script>
    <script src="../scripts/Controller/QusType/GoOverCtrl.js"></script>

</head>

<body ng-app="MainModel" ng-controller="MainCtrl" style="overflow-y: hidden">
<div class="container-fluid"  >
    <div class="row head">
        <h2>{{title}}</h2>
    </div>
    <p></p>
    <div  class="leftDiv"  ng-style="resizeWithOffset(80)"
          resize
          notifier="notifyServiceOnChage(params)">
        <table class="table table-responsive table-bordered">
            <tr ng-repeat="item in items">
                <td>
                    <div class="qusPointer" ng-click="showQusList($index)">
                        <i class="{{item.icon}}"></i>
                        {{item.title}}</div>
                    <table style="margin-top: 5px">
                        <tr ng-repeat="qus in item.questions" ng-if="item.isShow">
                            <td>
                                <div class="qusPointer" ng-style="qus.style"
                                     ng-click="showQus($index,item.itemIndex)" style="margin-left: 10px">
                                    &nbsp;&nbsp;<i class="{{qus.icon}}" ng-class="{true: 'qusIconStyle', false: 'inactive'}[qus.icon == 'fa fa-circle']"> </i>
                                    {{qus.qusDesRow}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div  class="middleDiv" ng-style="resizeWitdhWithOffset(405)"
          widthresize
          notifier="notifyServiceOnChageWidth(params)">
        <p></p>
        <div class="tabBtns">
            <button class="btn btn-info" ng-click="goOver()" style="margin-bottom: 8px" ng-if = "enableClientJudge">阅卷</button>
            <button class="btn btn-warning" ng-click="reset()" style="margin-bottom: 8px">重做</button>
            <button class="btn btn-info" ng-click="forwardQus()" style="margin-bottom: 8px">上一题</button>
            <button class="btn btn-info" ng-click="nextQus()" style="margin-bottom: 8px">下一题</button>
        </div>
        <div class="mainDiv"    ng-style="resizeWithOffset(120)"
             resize
             notifier="notifyServiceOnChage(params)">
            <!--<p ng-if="!hasQus"><i class="fa fa-spinner fa-spin"></i>正在加载题目 请稍后</p>-->

                <div ui-view style="padding-bottom: 100px;float: left;" ng-style="resizeWitdhWithOffset(550)"
                     widthresize
                     notifier="notifyServiceOnChageWidth(params)"></div>

            <div class="scoreStyle">
                <p ><font size="3px"> 分数：{{score}}</font></p>
            </div>
        </div>

    </div>

    <div class="rightDiv" ng-style="resizeWithOffset(0)"
         resize
         notifier="notifyServiceOnChage(params)">
        <p></p>
        <div>
            <button class="btn btn-info" ng-click="submitHomeWork()">
                <span ng-if='isTest'>交卷</span>
                <span ng-if='!isTest'>提交作业</span></button>
        </div>
        <p></p>
        <img src="{{info.avtarurl}}" class="avaturlStyle">
        <p></p>
        <p>姓名:{{info.name}}</p>
        <p>{{username}}</p>
        <p ng-if="isTest">剩余时间</p>
        <!--这是剩余时间和剩余时间的提醒-->

        <span   style = "color:red; font-size: 25px">{{slideTimes}}</span>
        <p></p>
        <span style = "color:red;font-size: 23px" ng-if="remainLess">距离考试结束时间不多了,请注意!</span>
    </div>
</div>
</div>
</body>
</html>