
<div class="container-fluid">
    <div style="text-align: center">
        <p  ng-if = 'items.length > 0 ? false:true' style="font-size: 20px">暂无练习信息</p>
    </div>
    <div ng-repeat="item in items" class="homeworkItem">
        <div class="row">
            <div class="col-xs-4  col-lg-4">
                <h4 class="homeworkMarginLeft">{{item.title}}</h4>
                <p class="homeworkMarginLeft">开始时间:{{item.datestart}}</p>
                <p class="homeworkMarginLeft">截止时间:{{item.dateend}}</p>
            </div>
            <div class="col-xs-2  col-lg-4 homeworkMarginTop" ng-if = 'item.isEnd == false'></div>
            <div class="col-xs-6  col-lg-4 homeworkMarginTop" ng-if = 'item.isEnd == false'>


                <button class="btn btn-info" ng-click="continueLast($index)">继续上次</button>


                <button class="btn btn-info" ng-click="randomSel($index)">随机选题</button>


                <button  class="btn btn-info" ng-click="selfSel($index)">自主选题</button>


        </div>
            <div class="col-xs-8 homeworkMarginTop" ng-if = 'item.isEnd == true' style="text-align: center;">
                已截止
                </div>
            </div>
    </div>
</div>