<a class="demo-modal-close" href ng-click="closeMe()">
    <font size="5px"><i class="fa fa-close" aria-hidden="true"></i></font>
</a>
<div class="total">
    <div class="btf-modal demo-modal">
        <div ng-if="!isOver" style="text-align: center;margin-top: 10%"><font size="5px"><i class="fa fa-spinner fa-spin"></i> 正在加载中</font> </div>
        <div ng-repeat="item in items" class="topicStyle">
            <p> {{item.topicname}}</p>

            <select ng-model="item.selBundle" style="height: 30px">
                <option ng-repeat="x in item.range">第{{x}}套</option>
            </select>

        </div>
        <button class="btn btn-info topicStyle" ng-click="goToExe()" ng-if = "isOver">进行练习</button>
</div>
    </div>